* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #333;
  padding: 10px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* color: rgb(238, 88, 88); */
} .logo {
  color: rgb(224, 64, 64);
  transition: all 0.5s linear;
} .logo:hover {
  color: white;
  transition: all 0.5s linear;
} .nav-bar ul {
  display: flex;
  gap: 10px;
  list-style: none;
} .nav-bar li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.5s linear;
} .nav-bar a:hover {
  color: orange;
  transition: all 0.5s linear;
} .hamburger{
  font-size: 22px;
  color: red;
  display: none;
  cursor: pointer;
  font-weight: bold;
}
  /* header section ends */

  /* about section begins */

.sec {
  background: skyblue;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}.hero {
  text-align: center;
} .hero h2{
  font-size: 70px;
  color: white;
} .hero p {
  color: white;
  font-size: 30px;
  margin: 10px;
  font-weight: bold;
} .hero button {
  color: white;
  padding: 20px 60px;
  background-color: rgb(224, 64, 64);
  font-size: 20px;
  border-radius: 10px;
  border: none;
  transition: all 0.5s linear;
  font-weight: bold;
} .hero button:hover {
  background-color: white;
  color: rgb(224, 64, 64);
  transition: all 0.5s linear;
  font-weight: bold;
}
  /* hero section ends */

  /* @keyframes fade-in{
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  } */
  /* about section begins */

.about {
  background-color: lavender;
  /* padding: 5px;
  text-align: center; */
} .flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
} .img {
  width: 100%;
  height: 100%;
} .img img {
  width: 100%;
  height: 100%;
  overflow: hidden;
} .text-box h2{
  text-align: center;
} .text-box p {
  font-size: 18px;
  line-height: 25px;
}
@media (max-width: 780px) {
  .nav-bar ul{
    display: none;
  } .logo {
    font-size: 18px;
  } .hamburger {
    display: flex;
  }

  .hero h2{
    font-size: 26px;
  } .hero p {
    font-size: 10px;
  } .hero button {
    padding: 10px 10px;
    font-size: 14px;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  } .img img {
    width: 100%;
    height: 100%;
    padding: 5px;
    /* overflow: hidden; */
  } .img {
    width: 100%;
  }
}  

