* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Courier New', Courier, monospace;
}

 header {
  background-color: #333;
  color: white;
  padding: 5px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
  margin: 10px;
  font-size: 10px;
  color: #fb3f00;
  transition: all 0.5s;
} .nav-bar:hover {
  cursor: pointer;
  color: #fff;
  transition: all 0.5s;
}

.nav-bar ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
}

.nav-bar li a{
  font-size: 20px;
  font-weight: lighter;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

a:hover {
  color: #fb3f00;
  transition: 0.5s;
} 
/* nav ends */

/* hero section begins */
.hero {
  background-color: skyblue;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
} .hero h3{
  font-size: 60px;
  font-weight: bold;
} .hero p {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
} .hero button {
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  color: #fff;
  background: #fb3f00;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  transition: all 0.5s;
} .hero button:hover {
  background: #fff;
  color: #fb3f00;
  transition: all 0.5s;
}
/* hero ends */

/* about section begins */
.About {
  background-color: lavender;
  color: #333;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
} .line {
  border-left: 3px solid red;
} .img img {
  width: 100%;
  height: 100%;
} .flex-container .text-box {
  width: 100%;
  line-height: 20px;
} .text-box h2 {
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 5px;
} .text-box p {
  font-size: 18px;
} 

/* environment section */
.Environment {
  color: black;
  /* margin-top: 20px; */
  background-color: #fff;
  height: 70vh;
}.grid-container {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  gap: 40px;
}.text p {
  font-size: 20px;
  font-weight: light;
}

.img {
  padding: 10px;
  margin-right: 0px;
} .img img {
  border-radius: 10px;
  width: 100%;
} .img p {
  font-weight: bold;
}
  /* environment section ends */
  /* achievements section */
/* .grip {
  padding: 10px;
  background-color: #d3d3d3; 
} .grid-container-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
} .img-2 img{
  height: 60vh;
  width: 100%;
  border-radius: 10px;
} */


@media (max-width: 480px) {
  .nav-bar {
    font-size: 10px;
    padding: 0px;
    margin: 5px;
  } .nav-bar li a {
    font-size: 15px;
  }

  .hero {
    text-align: center;
  } .hero h3 {
    font-size: 35px;
  }.hero p {
    font-size: 20px;
  } .hero button {
    font-size: 18px;
  }

  .flex-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
  } .img img{
    width: 100%;
    height: 70vh;
  }
}