* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Courier New', Courier, monospace;
}

header {
  background-color: #333;
  color: white;
  padding: 5px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
  margin: 10px;
  font-size: 10px;
  color: #fb3f00;
  transition: all 0.5s;
} .nav-bar:hover {
  cursor: pointer;
  color: #fff;
  transition: all 0.5s;
}

.nav-bar ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
}

li a{
  font-size: 20px;
  font-weight: lighter;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

a:hover {
  color: #fb3f00;
  transition: 0.5s;
}
/* nav ends */

/* hero section begins */
.hero {
  background: skyblue;
  /* background: url('/assets/zhejiang-university-3776783_640.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
} .hero h3{
  font-size: 60px;
  font-weight: bold;
} .hero p {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
} .hero button {
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  color: #fff;
  background: #fb3f00;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  transition: all 0.5s;
} .hero button:hover {
  background: #fff;
  color: #fb3f00;
  transition: all 0.5s;
}
/* hero ends */

/* about section begins */
.sec {
  background-color: lavender;
  /* padding: 10px; */
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
} .line {
  border-left: 3px solid red;
} .img img {
  width: 100%;
  height: 100%;
} .flex-container .text-box {
  width: 100%;
  line-height: 20px;
} .text-box h2 {
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 5px;
} .text-box p {
  font-size: 18px;
}



/* @media (max-width: 480px) {
  .nav-bar {
    font-size: 10px;
    padding: 0px;
    margin: 5px;
  } .nav-bar li a {
    font-size: 15px;
  }

  .hero {
    text-align: center;
  } .hero h3 {
    font-size: 30px;
  }.hero p {
    font-size: 20px;
  } .hero button {
    font-size: 15px;
  }

  .flex-container {
    display: flex;
    flex-direction: column-reverse;
  } */

