* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}


body {
  height: 100%;
  width: 100%;
  scrollbar-width: auto;
  background-image: url(/assets/zhejiang-university-3776783_640.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  color: black;
  padding-top: 30px;
} form h1 {
  font-size: 60px;
  font-weight: bold;
  color: white;
} form p {
  font-size: 25px;
  font-weight: bold;
}

.inputs {
  padding: 20px;
}
.inputs-2 {
  margin-right: 10px;
  padding: 20px;
}
.inputs-3 {
  margin-right: 30px;
  padding: 20px;
} .inputs-4 {
  margin-right: 35px;
  padding: 20px;
} .inputs-5 {
  margin-right: 65px;
  padding: 20px;
}

label {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

input {
  padding: 8px 40px;
  border: none;
  border-radius: 10px;
} ::placeholder {
  font-size: 18px;
}

select {
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 10px;
  margin-right: 140px;
  border: none;
} option {
  font-size: 20px;
  background: none;
}

.submit {
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 10px 90px;
  transition: all 1s ;
} .submit:hover {
  background-color: orange;
  color: white;
  transition: all 0.5s ;
}

.button {
  align-self: flex-end;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background: none;
  margin-bottom: 20px;
  margin-right: 40px;
  color: black;
  transition: all 0.5s;
} .button:hover {
  color: blue;
  transition: all 0.3s;
  text-decoration: underline;
}

@media (max-width: 480px) {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  form h1 {
    font-size: 50px;
  } form p {
    font-size: 20px;
  }

  label {
    font-size: 20px;
    display: block;
  }

  input {
    margin-top: 10px;
   } .inputs-2 {
    margin-left: 10px;
  } .inputs-4 {
    margin-left: 35px;
  } .inputs-5 {
    margin-left: 60px;
  } 

  /* .input {
    margin-top: 10px;
  } .inputs-2,
    .inputs-3,
    .inputs-4,
    .inputs-5 {
      text-align: center;
    } */


  select {
   margin-left: 135px;
  }

  option {
    font-size: 15px;
  }

  .submit {
    padding: 15px 20px;
  } .submit:hover {
    padding: 15px 80px;
  }

  .button {
    width: 220px;
  }
}



