* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

.backdrop {
    /* background: rgb(123, 63, 0, 0.15); */
    background: rgba(6, 1, 1, 0.224);
    position: absolute;
    width: 100%;
    height: 100%;
}

form {
  height: 100vh;
  background-image: url(/assets/zhejiang-university-3776783_640.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  color: black;
} form h1 {
  font-size: 60px;
  font-weight: bold;
  color: white;
} form p {
  font-size: 25px;
  font-weight: bold;
}

.inputs {
  padding: 20px;
}

label {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

input {
  padding: 8px 40px;
} ::placeholder {
  font-size: 18px;
}



